*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
    border-radius: 4px;  
}
body{
  padding: 1em;
  background: linear-gradient(#250407, #250407, #290408, #120103);
}

.header {
    
    background: linear-gradient(#300409, #45070d, #290408, #120103);
    padding: 0 10px 100px 10px;
    
  }
  

.header a {
    float: left;
    color: #f1f1f1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  
}
.header a.logo {
    margin-left: 200px;
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: rgba(150, 55, 11, 0.856);
    
}

.header-right {
    margin-left: 700px;
}

.row {  
    margin-top: 0;
    float: right;
}

.side {
    float: right;
    background: linear-gradient(#300409, #290408, #33181c, #120103);
    padding: 50px;
    padding-top: 0;
}

.main {   
    border-radius: 7px;
    background: linear-gradient(#300409, #290408, #33181c, #120103);
    padding: 20px;
}
.img1{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 240px;
}
.img{
    padding: 10px 10px 0 10px;
    width: 700px;
    height: 500px;
    transition: 2s;
    
    
}
.img:hover{
    background-color: #490b12;
    opacity: .5;
    cursor: pointer;
}
img{
    min-width: 100%;
    height: auto;
}

footer{
    position: relative;
    background: linear-gradient(#120103, #120103, #120103, #120103);
    padding-top: 40px;
    color: #fff;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h2{
  font-size: 50px;
  transition: 2s;
  
}


.footer p{
    max-width: 500px;
    margin: 20px auto;
    line-height: 28px;
    font-size: 20px;
    padding-top: 20px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 2px solid #f1f1f1;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1rem;
  width: 20px;
  transition: 1s;
}

.socials a:hover i{
  background-color: blue;
}

p, h2, h3, h5{
    color: #f1f1f1;
}
